<span STYLE="font-size:150%"> 
    Plot drug release parameters
</span>

Docker image: gnasello/datascience-env:2023-01-27 \
Latest update: 20 March 2023

# Load libraries

In [1]:
library(ggplot2)
library(latex2exp)
library(dplyr)
library(tidyverse)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ lubridate 1.9.2     ✔ tibble    3.2.1
✔ purrr     1.0.1     ✔ tidyr     1.3.0
✔ readr     2.1.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Clone the [r_utils library](https://github.com/gabnasello/r_utils.git) from GitHub in the same folder of this script. 

You can simply running the following command in a new terminal (open it from JupyterLab):

`git clone https://github.com/gabnasello/r_utils.git`

How to Reuse Functions That You Create In Scripts, [tutorial](https://www.earthdatascience.org/courses/earth-analytics/multispectral-remote-sensing-data/source-function-in-R/)

In [2]:
source("r_utils/ggplot_utils.R")

# Reading data

<span style="color:red">**User Input**</span>

In [3]:
filename <- "data/2023-03-28_GN011_release.csv"

In [4]:
# Import the data and look at the first six rows
df <- read.csv(file = filename)
head(df)

  Well.ID Name Well Conc.Dil X275480 Count Mean  Std.Dev CV.... Mean_blnk
1 SPL1    NA   A1   NA       10349   1     10349 ?????   ?????   7439
2 SPL2    NA   A2   NA       22987   1     22987 ?????   ?????  20077
3 SPL3    NA   A3   NA        9415   1      9415 ?????   ?????   6505
4 SPL4    NA   A4   NA        8467   1      8467 ?????   ?????   5557
5 SPL5    NA   A5   NA       13380   1     13380 ?????   ?????  10470
6 SPL6    NA   A6   NA        8133   1      8133 ?????   ?????   5223
  concentration volume day group  Laponite sample release
1 16.69169      1.7    0   4-AS   0        1      14.187940
2 45.04895      1.7    0   4-AS   0        2      38.291608
3 14.59598      1.7    0   4-AS   0        3      12.406580
4 12.46885      1.7    0   4-AS   0        4      10.598519
5 23.49268      1.7    0   4-AS-L 1        1      19.968777
6 11.71941      1.7    0   4-AS-L 1        2       9.961502

In [5]:
df <- df %>% select(c(group, sample, release, day, Laponite))
head(df)

  group  sample release   day Laponite
1 4-AS   1      14.187940 0   0
2 4-AS   2      38.291608 0   0
3 4-AS   3      12.406580 0   0
4 4-AS   4      10.598519 0   0
5 4-AS-L 1      19.968777 0   1
6 4-AS-L 2       9.961502 0   1

In [6]:
df_test <- df %>% 
                group_by(group)%>% 
                    spread(sample, release)
df_test

   group  day Laponite 1         2         3        4
1  4-AS   0   0        14.187940 38.291608 12.40658 10.598519
2  4-AS   1   0        14.150132 10.379860 12.27105 10.384403
3  4-AS   2   0        13.881043 10.977610 11.86363 11.419865
4  4-AS   3   0        10.770619 12.100412  8.77391  9.242922
5  4-AS   5   0        16.520940 18.308134 18.87509 19.251712
6  4-AS-L 0   1        19.968777  9.961502 11.84776 18.269428
7  4-AS-L 1   1        10.237995 11.866664 10.10370 10.281413
8  4-AS-L 2   1         9.576127 11.413302 12.56488 12.417967
9  4-AS-L 3   1         9.823003 10.523239 14.36318 15.036661
10 4-AS-L 5   1        23.478374 18.186463 22.24349 19.148721
11 6-AS   0   0        11.189763 20.516154 11.34043  4.642216
12 6-AS   1   0         8.884473 11.340603 15.59907 19.792918
13 6-AS   2   0        16.806184  9.135387 13.74625 11.995402
14 6-AS   3   0        23.498569 11.416836 11.80760 15.055340
15 6-AS   5   0        32.990890 26.477730 18.47928 19.023516

## Split data frame by groups

From [dplyr tutorial](https://dplyr.tidyverse.org/reference/group_split.html)

In [7]:
df_spread <- df %>% 
                group_by(group)%>% 
                  spread(sample, release)

df_split <- group_split( df_spread )
df_split

<list_of<
  tbl_df<
    group   : character
    day     : integer
    Laponite: integer
    1       : double
    2       : double
    3       : double
    4       : double
  >
>[3]>
[[1]]
# A tibble: 5 × 7
  group   day Laponite   `1`   `2`   `3`   `4`
  <chr> <int>    <int> <dbl> <dbl> <dbl> <dbl>
1 4-AS      0        0  14.2  38.3 12.4  10.6
2 4-AS      1        0  14.2  10.4 12.3  10.4
3 4-AS      2        0  13.9  11.0 11.9  11.4
4 4-AS      3        0  10.8  12.1  8.77  9.24
5 4-AS      5        0  16.5  18.3 18.9  19.3

[[2]]
# A tibble: 5 × 7
  group    day Laponite   `1`   `2`   `3`   `4`
  <chr>  <int>    <int> <dbl> <dbl> <dbl> <dbl>
1 4-AS-L     0        1 20.0   9.96  11.8  18.3
2 4-AS-L     1        1 10.2  11.9   10.1  10.3
3 4-AS-L     2        1  9.58 11.4   12.6  12.4
4 4-AS-L     3        1  9.82 10.5   14.4  15.0
5 4-AS-L     5        1 23.5  18.2   22.2  19.1

[[3]]
# A tibble: 5 × 7
  group   day Laponite   `1`   `2`   `3`   `4`
  <chr> <int>    <int> <dbl> <dbl> <dbl> <dbl>
1 6-AS      0        0 11.2  20.5   11.3  4.64
2 6-AS      1        0  8.88 11.3   15.6 19.8
3 6-AS      2        0 16.8   9.14  13.7 12.0
4 6-AS      3        0 23.5  11.4   11.8 15.1
5 6-AS      5        0 33.0  26.5   18.5 19.0

# Calculate Cumulative Sum by Group

From [statology.org](https://www.statology.org/r-cumulative-sum-by-group/)

In [8]:
df <- df %>% 
        group_by(group, sample) %>% 
                mutate(cum_sum = cumsum(release))
head(df)

  group  sample release   day Laponite cum_sum
1 4-AS   1      14.187940 0   0        14.187940
2 4-AS   2      38.291608 0   0        38.291608
3 4-AS   3      12.406580 0   0        12.406580
4 4-AS   4      10.598519 0   0        10.598519
5 4-AS-L 1      19.968777 0   1        19.968777
6 4-AS-L 2       9.961502 0   1         9.961502

In [9]:
fileoutput <- "2023-03-28_GN011_data.csv"

write_csv(df, file = fileoutput)

## Split data frame by groups

Drop `amount` column from dataframe

In [10]:
df_cum = subset(df, select = -c(release) )
head(df_cum)

  group  sample day Laponite cum_sum
1 4-AS   1      0   0        14.187940
2 4-AS   2      0   0        38.291608
3 4-AS   3      0   0        12.406580
4 4-AS   4      0   0        10.598519
5 4-AS-L 1      0   1        19.968777
6 4-AS-L 2      0   1         9.961502

From [dplyr tutorial](https://dplyr.tidyverse.org/reference/group_split.html)

In [11]:
df_spread <- df_cum %>% 
                group_by(group)%>% 
                  spread(sample, cum_sum)

df_split <- group_split( df_spread )
df_split

<list_of<
  tbl_df<
    group   : character
    day     : integer
    Laponite: integer
    1       : double
    2       : double
    3       : double
    4       : double
  >
>[3]>
[[1]]
# A tibble: 5 × 7
  group   day Laponite   `1`   `2`   `3`   `4`
  <chr> <int>    <int> <dbl> <dbl> <dbl> <dbl>
1 4-AS      0        0  14.2  38.3  12.4  10.6
2 4-AS      1        0  28.3  48.7  24.7  21.0
3 4-AS      2        0  42.2  59.6  36.5  32.4
4 4-AS      3        0  53.0  71.7  45.3  41.6
5 4-AS      5        0  69.5  90.1  64.2  60.9

[[2]]
# A tibble: 5 × 7
  group    day Laponite   `1`   `2`   `3`   `4`
  <chr>  <int>    <int> <dbl> <dbl> <dbl> <dbl>
1 4-AS-L     0        1  20.0  9.96  11.8  18.3
2 4-AS-L     1        1  30.2 21.8   22.0  28.6
3 4-AS-L     2        1  39.8 33.2   34.5  41.0
4 4-AS-L     3        1  49.6 43.8   48.9  56.0
5 4-AS-L     5        1  73.1 62.0   71.1  75.2

[[3]]
# A tibble: 5 × 7
  group   day Laponite   `1`   `2`   `3`   `4`
  <chr> <int>    <int> <dbl> <dbl> <dbl> <dbl>
1 6-AS      0        0  11.2  20.5  11.3  4.64
2 6-AS      1        0  20.1  31.9  26.9 24.4
3 6-AS      2        0  36.9  41.0  40.7 36.4
4 6-AS      3        0  60.4  52.4  52.5 51.5
5 6-AS      5        0  93.4  78.9  71.0 70.5